@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply fonts */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f9fafb;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

